<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Downlink established.</title>
  </head>
  <body>
    <div class="main">
      <div class="sub">
        <h2>Edit downlink for re-transmission.</h2>
        Transmission ID: <%=@downlink.created_at.strftime("%Y-%jT%RZ")%><br><br>
        <form action="/downlinks/<%= @downlink.id %>" method="POST">
          <input type="hidden" name="_method" value="patch">
          <input type="text" name="title" size="29" value="<%= @downlink.title%>" required>
          Singal Strength: <input type="number" name="signal_strength" min="1" max="100" value="<%= @downlink.signal_strength%>" required>
          <br><br>
          <textarea name="message" cols=50 rows=10 maxlength="621" value="<%= @downlink.message%>" required></textarea><br>
          <input type="submit">
          <a href="/downlinks/<%= @downlink.id %>">Abort</a>
        </form>
      </div>
    </div>
  </body>
</html>
