<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Downlink established.</title>
  </head>
  <body>
    <h2>Downlink established.</h2>

    <h3>Transmission Title: <%=@downlink.title%></h3><br>
    <h3>Signal Strength: <%=@downlink.signal_strength%>%</h3><br><br>
    <h3>Message: <%=@downlink.message%></h3><br><br>


    <% if logged_in? && current_user.id == @downlink.user_id %>
    <a href="/downlinks/<%= @downlink.id %>/edit">Edit Message</a> |
    <a href="/users/<%=current_user.slug%>">Control Panel</a><br><br>

    <form method="post" action="/downlinks/<%=@downlink.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Message">
  </form>



<% end %>

</html>
