<!doctype html>
<html>
  <head>
    <title>Downlink established.</title>
  </head>
  <body>
    <h2>Downlink established.</h2>

    Transmission Title: <%=@downlink.title%><br>
    Signal Strength: <%=@downlink.signal_strength%>%<br><br>
    Message: <%=@downlink.message%><br><br>


    <% if logged_in? && current_user.id == @downlink.user_id %>
    <a href="/downlinks/<%= @downlink.id %>/edit">Edit Message</a><br><br>

    <form method="post" action="/downlinks/<%=@downlink.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Message">
  </form>


<% end %>

</html>
